<header id="brand-header" class="layout-row">
  <div class="layout-innerwrapper">
    <div class="crs-logo">
      <a href="http://www.crs.org" target="_blank"><img src="../../images/crs-logo.svg" alt="CRS: Catholic Relief Services" width="178" height="78"></a>
    </div><!-- /.crs-logo -->
    <nav class="navigation navigation-inline hide-nondesktop">
      <ul class="">
        <li><a href="http://www.crs.org/">Back to CRS.org</a></li>
      </ul>
    </nav>
  </div>
</header><!-- /#header-brand -->


